@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

.heading {
	font-family: 'Outfit', sans-serif;
	font-weight: 600;
	font-size: 40px;
	color: #D2D5DA
}

.small-heading {
	font-family: 'Outfit', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #9DA3AE
}

.body-text {
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #9DA3AE
}

body {
	background: #121826;
	width: 100vw;
	height: 100vh
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px
}

.title {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

.subtitle {
	margin-bottom: 40px;
}

.cards {
	display: flex;
	gap: 50px;
}

.card {
	width: 320px;
	height: 450px;
	padding: 25px;
	border-radius: 25px;

	background-color: #212936;
}

@media screen and (min-width: 720px) {

}

